<br></br>
<br></br>

<div class="bar bar-header bar-light">
  <a href="#/trip" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <h1 class="title">Tanjung Rhu Beach</h1>
</div>

<div class="row">
  <div class="col col-100">
    <div class="card">
      <div class="item item-text-wrap">
        IMAGE ROLL
        <br></br>
        <br></br>
        <br></br>
        <br></br>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col col-50">
    <div class="card">
      <div class="item item-text-wrap" style="text-align:left">
        Cray try-hard franzen, fingerstache four dollar toast tattooed locavore...
      </div>
    </div>
  </div>

  <div class="col col-50">
    <div class="card">
      <div class="item item-text-wrap">
        MAP
        <br></br>
        <br></br>
        <br></br>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col col-50">
    <div class="card">
      <div class="item item-text-wrap">
        VOICE ENTRY
      </div>
    </div>
  </div>

  <div class="col col-50">
    <div class="card">
      <div class="item item-text-wrap">
        AMBIENT
      </div>
    </div>
  </div>

</div>

<div class="bar bar-footer bar-light">
    <button class="button">+ Add Media</button>
</div>
