<br></br>
<br></br>

<div class="card">
  <div class="item item-text-wrap">
    <br></br>
    <br></br>
    <br></br>
    Nomadica
    <br></br>
    <br></br>
    <br></br>
    <br></br>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <a href='#/signin'>
      <button class="button button-calm">
        Sign In
      </button>
    </a>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <a href='#/signup'>
      <button class="button button-balanced">
        Sign Up
      </button>
    </a>
  </div>
</div>
