<br></br>
<br></br>

<div class="bar bar-header bar-light">
  <a href="#/signin" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <h1 class="title">My Trips</h1>
</div>


<a href="#/trip">
  <div class="card">
    <div class="item item-text-wrap">
      <br></br>
      Malaysia
      <br></br>
      <br></br>
    </div>
  </div>
</a>

<a href="#/trip">
  <div class="card">
    <div class="item item-text-wrap">
      <br></br>
      NYC
      <br></br>
      <br></br>
    </div>
  </div>
</a>

<a href="#/trip">
  <div class="card">
    <div class="item item-text-wrap">
      <br></br>
      Bangladesh
      <br></br>
      <br></br>
    </div>
  </div>
</a>

<div class="bar bar-footer bar-light">
    <button class="button">+ Create New Trip</button>
</div>
