<br></br>
<br></br>
<a href="#/home" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
<div class="row">
  <div class="col text-center">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="text">
      </label>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href='#/mytrips'>
          <button class="button button-calm">
            Sign In
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
