<br></br>
<br></br>

<div class="bar bar-header bar-light">
  <a href="#/mytrips" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <h1 class="title">Malaysia</h1>
</div>

<br></br>

<a href="#/entry">
  <div class="card">
    <div class="item item-text-wrap">
      <br></br>
      Tanjung Rhu Beach
      <br></br>
      <br></br>
    </div>
  </div>
</a>

<a href="#/entry">
  <div class="card">
    <div class="item item-text-wrap">
      <br></br>
      Kuala Lampur
      <br></br>
      <br></br>
    </div>
  </div>
</a>

<div class="bar bar-footer bar-light">
    <button class="button">+ Add Entry</button>
</div>
